{% extends "navbar.html" %} {% block content %}
<div class="contact">
  <div class="contactUser">
  <img src="/static/images/0075.png" alt="Avatar" class="image2">
  <h3 class="contactText">Daniel Kofoed - bxm615@alumni.ku.dk</h3>
  </div>
  <div class="contactUser">
  <img src="/static/images/0069.png" alt="Avatar" class="image2">
  <h3 class="contactText">Romal Sadat - rosa@di.ku.dk</h3>
  </div>
  <div class="contactUser">
  <img src="/static/images/2439.png" alt="Avatar" class="image2">
  <h3 class="contactText">Thor Simonsen - zvr697@alumni.ku.dk</h3>
  </div>
</div>
{% endblock content %}
