{% extends "navbar.html" %} {% block content %}
<h1>Punk nr. {{content[0]}}!</h1>
<div class="imgdiv">
  <img src="/static/images/{{content[0]}}.png" alt="Avatar" class="imagebig" />
</div>
<div class="tablecontainer">
  <div class="tableitem">
    <h4>Attributes</h4>
    <p class="card-text">Type: {{content[1]}}</p>
    <p class="card-text">Gender: {{content[2]}}</p>
    <p class="card-text">Skintone: {{content[3]}}</p>
    <p class="card-text">Accesories: {{content[4]}}</p>
  </div>
  <div class="tableitem">
    <h4>Current Price</h4>
    <h2>{{price}}</h2>
  </div>
  <div class="tableitem">
    <form action="" method="post" class="queryform2">
      <div class="querybox">
        <input type="submit" id="buttonAdd" value="Add favourite" />
      </div>
    </form>
  </div>
</div>
{% endblock content %}
