<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Crypto Punk database!</h1>
    <p>Find your favourite punk!</p>
   
    <div class="cards">
      <div class="card">
        <img src="/static/images/0000.png" alt="Avatar" class="image">
        <div class="container">
          <h4><b>Punk #0000</b></h4>
          <p class="card-text">Blonde</p>
          <p class="card-text">Green eyes</p>
        </div>
      </div>
      <div class="card">
        <img src="/static/images/0001.png" alt="Avatar" class="image">
        <div class="container">
          <h4><b>Punk #0001</b></h4>
          <p class="card-text">Moar</p>
        </div>
      </div>
      <div class="card">
        <img src="/static/images/0002.png" alt="Avatar" class="image">
        <div class="container">
          <h4><b>Punk #0002</b></h4>
          <p class="card-text">Hej hej</p>
        </div>
      </div>
      <div class="card">
        <img src="/static/images/0003.png" alt="Avatar" class="image">
        <div class="container">
          <h4><b>Punk #0003</b></h4>
          <p class="card-text">Attribute 1</p>
          <p class="card-text">Attribute 2</p>
        </div>
      </div>
      <div class="card">
        <img src="/static/images/0004.png" alt="Avatar" class="image">
        <div class="container">
          <h4><b>Punk #0004</b></h4>
          <p class="card-text"> At 1</p>
          <p class="card-text"> At 2</p>
        </div>
      </div>
    </div>
  </body>
</html>
