<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href='/static/main.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Crypto Punk database!</h1>
    <p>Find your favourite punk!</p>
   
    <div class="cards">
      {%for i in range(0,10)%}
      <div class="card">
        <img src="/static/images/000{{i}}.png" alt="Avatar" class="image">
        <div class="container">
          <h4><b>Punk #000{{i}}</b></h4>
          <p class="card-text">Blonde</p>
          <p class="card-text">Green eyes</p>
        </div>
      </div>
      {%endfor%}
    </div>
  </body>
</html>
