<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <audio loop autoplay>
      <source src="../static/8bit.mp3" type="audio/mp3" />
    </audio>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/punk/4444">RANDOM PUNK</a></li>
      <li><a href="#contact">Contact</a></li>
      <li style="float: right"><a href="/logout">Logout</a></li>
    </ul>
    {% block content %} {% endblock %}
  </body>
</html>
