* {
    box-sizing: border-box;
    }
    
    *:focus {
    outline: none;
    }
    body {
    font-family: 'Press Start 2P', sans-serif;
    background: linear-gradient(to left top, #000, #133e7c) fixed;
    color: rgba(255,255,255,0.8);
    padding: 50px;
    }
    .login {
    margin: 20px auto;
    width: 300px;
    }
    .login-screen {
    background: #133e7c;
    border: 4px solid #ea00d9;
    color: rgba(255,255,255,0.8);
    padding: 20px;
    }
    
    .app-title {
    text-align: center;
    color: #ea00d9;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #FFF;
    border: 2px solid;
    
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #fcec0c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .btn {
    border: solid;
    background: #091833;
    color: #ea00d9;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: none;
    
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    }
    
    .btn:hover {
    background-color: #0abdc6;
    }
    
    .login-link {
    font-size: 12px;
    color: #ea00d9;
    display: block;
    margin-top: 12px;
    }
    
    
    .image {
        height: 300px;
        width: 300px;
        image-rendering: pixelated;
      }
    
    
      .mainDIV{
        position:relative;
    
        width:100%;
        min-width:315px;
    }
    .leftDIV{
        position:absolute;
        top:0px;
        left:400px;
        height:50px;
        width:100px;
    
    }
    .middleDIV{
        height:50px;
        width:100px;
    
        margin:0px auto;
    }
    .rightDIV{
        position:absolute;
        top:0px;
        right:600px;
        height:50px;
        width:100px;
    
    }
    
